<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DMPSubRootViewController</key>
	<dict>
		<key>LeftItemsForNavi</key>
		<dict>
			<key>ImageNameH</key>
			<array>
				<string>首页-返回-选</string>
			</array>
			<key>ImageName</key>
			<array>
				<string>首页-返回</string>
			</array>
		</dict>
	</dict>
	<key>DMPDietTherapyVC</key>
	<dict>
		<key>TitleView</key>
		<dict>
			<key>signImageName</key>
			<string>对症－导航logo</string>
			<key>title</key>
			<string>对症食疗</string>
		</dict>
		<key>LeftItemsForNavi</key>
		<dict>
			<key>ImageNameH</key>
			<array>
				<string>首页-返回-选</string>
			</array>
			<key>ImageName</key>
			<array>
				<string>首页-返回</string>
			</array>
		</dict>
	</dict>
	<key>LLCMainViewController</key>
	<dict>
		<key>BottomBarItemsName</key>
		<dict>
			<key>ImageName</key>
			<array>
				<string>首页-对症治疗</string>
				<string>首页-热门推荐</string>
				<string>首页-每月美食</string>
				<string>首页-摇一摇</string>
				<string>首页-选菜</string>
			</array>
			<key>ImageNameH</key>
			<array>
				<string>首页-对症治疗-选</string>
				<string>首页-热门推荐-选</string>
				<string>首页-每月美食-选</string>
				<string>首页-摇一摇-选</string>
				<string>首页-选菜</string>
			</array>
		</dict>
		<key>RightItemsForNavi</key>
		<dict>
			<key>Title</key>
			<array>
				<string>智能选菜</string>
				<string>搜索</string>
				<string>我的</string>
			</array>
			<key>ImageName</key>
			<array>
				<string>首页-智能选菜.png</string>
				<string>首页-搜索.png</string>
				<string>首页-我的.png</string>
			</array>
			<key>ImageNameH</key>
			<array>
				<string>首页-智能选菜-选.png</string>
				<string>首页-搜索-选.png</string>
				<string>首页-我的-选.png</string>
			</array>
		</dict>
		<key>LeftItemsForNavi</key>
		<dict>
			<key>Title</key>
			<array>
				<string>  掌厨-全球最大的视频厨房</string>
			</array>
		</dict>
	</dict>
	<key>DMPRootViewController</key>
	<dict>
		<key>ImageNameForDivision</key>
		<string>首页-间隔线</string>
		<key>bgImageNameForNavi</key>
		<string>首页-导航条</string>
	</dict>
</dict>
</plist>
